body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: black;
    padding: 20px 100px;
}
.navbar a{
    color: #ccc;
    margin-right: 20px;
    text-decoration: none;
    font-size: 14px;
}
.text-title{
    font-size: 18px !important;
}
h1{
    text-align: center;
    font-weight: 100;
}
table{
    margin: 20px auto;
}
td{
    padding: 6px 10px;
}
input, select{
    height: 25px;
}
textarea, input, select{
    border-radius: 4px;
    border: 1px solid lightgray;
}
.button{
    text-align: center;
}
label{
    display: block;
    text-align: end;
    font-size: 14px;
}
.reset{
    background-color: #c51f1f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.submit{
    background-color: #1f82c5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}